{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | A notre propos
{% endblock %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque debitis excepturi, illum molestias nobis obcaecati perspiciatis rem sunt temporibus tenetur. Aliquam ducimus explicabo in magnam perspiciatis placeat quos, ut voluptas.</p>

{% endblock %}

