{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Liste des voeux
{% endblock %}

{% block body %}
    <h1>Liste des voeux</h1>
    <ul>
        {% for wish in allWishes %}
            <li>
                <a href="{{path('wishes_wish_detail',{ id: wish.id })}}">  Titre :  {{ wish.title }}</a>
            </li>
        {% else %}
            <p>
                Pas de voeux présent, soyez le premier!!
            </p>
        {% endfor %}
    </ul>

{% endblock %}
