{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Liste des voeux
{% endblock %}

{% block body %}
    <h1>Liste des voeux</h1>
    {#  todo : afficher les voeux #}

{% endblock %}
